body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header-wrapper{
    background-color: #fff;
}
#header {
    color: white;
    text-align: center;
    /* padding: 20px 0; */
    position: relative;
    font-size: 10px;
    line-height: 1.2;
    /* background-color: rgb(83, 118, 134); */
    background-color:rgb(189, 99, 54);
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

#header h1 {
    margin: 0;
}

#header p {
    margin: 5px 0;
}

#header a {
    color: white;
    text-decoration: none;
}

#header .buttons {
    margin-top: 10px;
}

#header .buttons a {
    background-color: #e74c3c;
    border: 1px solid white;
    border-radius: 5px;
        margin: 5px;
    display: inline-block;
}
.moving-text-wrapper{
    overflow: hidden;
    padding-bottom: 25px;
}

#navbar {
    background-color: white;
    /* padding: 10px 0; */
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-right: 100px;
    padding-left: 100px;
    max-width: 1260px;
    margin: 0 auto;
}
.navbar-container{
    max-width: 1260px;
    margin: 0 auto;
    padding-bottom: 25px;
}
#navbar a {
    color: #333;
    text-decoration: none;
    font-weight: bold;

    font-weight: 400;
    font-size: 14px;
    transition: border 0.3s ease;
}

#navbar a:hover {
    color: #e74c3c;
}
.button_container {
    display: flex;
    gap: 25px;
}
.button_primary{
    padding: 0;
    line-height: 14px;
    font-size: 12px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-shadow: inset 0 1px 0 #fff, 0 0.15em 0 rgb(189, 99, 54), 0.1em 0.2em 0.2em 0.15em rgba(0, 0, 0, 0.3);
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    /* background: rgb(83, 118, 134); */
    background-color:rgb(189, 99, 54);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}
.button_icon::before{
    content: " ";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
button.button_primary.button_icon a {
    padding: 9px 20px;
}
.menu-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
}
.nav_menu{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: color calc(300* 1ms) cubic-bezier(.42, .01, .58, 1), background-color calc(300* 1ms) cubic-bezier(.42, .01, .58, 1);
}
.nav_menu.not_list{
    padding-top: calc(8px + 2px);
    padding-right: calc(16px + 2px);
    padding-bottom: calc(8px + 2px);
    padding-left: calc(16px + 2px);
}

.fusion-custom-menu {
    position: relative;
}

.fusion-custom-menu.fusion-menu-element-list{

    justify-content: flex-end;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-block-start: 0;
    min-height: 4em;
    position: relative;
    transition: all calc(300* 1ms) cubic-bezier(.42, .01, .58, 1);
}
.fusion-menu-item{
    position: relative;
    padding: 10px 18px;
    cursor: pointer;
}
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    z-index: 1000;
    min-width: 200px;
    visibility: hidden;
    margin-top: 2px;
    width: 100%;
    opacity: 0;
    transition: 0.3s 0.3s;
  }
  
    .fusion-menu-item:hover .sub-menu {
        visibility: visible;
        opacity: 1;
    }

  .sub-menu a {
    display: block;
    padding: 10px;
    color: #333; /* Change this color as needed */
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }
  
    .fusion-menu-item .sub-menu a {
        padding: 12px 20px;
        text-align: left;
        transition: 0.5s;
    }

    .sub-menu a:hover {
        background-color: #f1f1f1;
    }

    .mobileMenuContent {
        display: block;
        position: absolute;
        background-color: white;
        top: 55%;
        left: 0;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

.fusion-menu-item .transition-center-grow{
    border-radius: 6px;
    border: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: calc(300* 1ms);
    transition-timing-function: cubic-bezier(0.42,0.01,0.58,1);
}
.fusion-menu-item:hover .transition-center-grow{
    border: 2px solid #f1574d;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.fusion-menu-item a { 
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
    padding: 10px 0;
    text-decoration: none;
    color: #ff5b57; /* Change this color as needed */
    font-weight: bold;
    font-size: 16px;
}


/* Hover state for menu items */
.fusion-menu-item:hover a {
    color: #ff5b57; /* Change this color as needed */
    border-radius: 5px;
  }

/* ============================================ */
.moving-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 20s linear infinite;
    text-align: center;
    white-space: nowrap;
  }
  .navbar-wrapper{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
  }
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
#toTop:before {
    margin: 15px auto;
    content: " ";
    display: block;
    color: #fff;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    border-width: 2px 2px 0 0;
    transform: rotate(315deg);
}
#toTop {
    background-color: #333;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    height: 35px;
    position: fixed;
    text-align: center;
    width: 48px;
    opacity: 0;
    z-index: 100000;
    transition: opacity .4s ease-in-out, background .2s ease-in-out;
    line-height: 1;
    pointer-events: none;

    pointer-events: auto;
    opacity: .9;
    transition: opacity .4s ease-in-out, background .2s ease-in-out;
    right: 75px;
}
#toTop:hover {
    background-color: #f1574d;
}

.banner_content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner-heading.with-bg {
    background: #00000066;
    color: white;
    font-size: 60px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}
h3.banner-suheading {
    font-size: 20px;
    color: white;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
a.banner-link.with-bg {
    /* background: rgb(189, 99, 54); */
    background-color:rgb(189, 99, 54);
    padding: 17px 40px;
    margin-top: 40px;
    display: block;
    max-width: 150px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}
  @media only screen and (max-width: 1024px) {
    #header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .button_container {
        display: flex;
        gap: 12px;
        padding-bottom: 20px;
        flex-direction: column;
    }
    #navbar{
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        /* flex-direction: column; */
    }
    .logo-main{
        max-width: 295px;
        height: auto;
        padding: 20px 0;
    }
    .fusion-custom-menu.fusion-menu-element-list{
        justify-content: flex-start;
    }
    
    #navbar .fusion-menu-item a {
        z-index: 2;
        position: relative;
        height: 100%;
        display: flex;
        padding: 6px 4px;
        /* border: 2px solid #f1574d; */
        border-radius: 6px;
        font-size: 16px;
    }
    .banner-heading.with-bg{
        font-size: 24px;
    }
    h3.banner-suheading {
        font-size: 16px;
    }
    a.banner-link.with-bg{
        padding: 12px 15px;
        margin-top: 20px;
        display: block;
        max-width: 150px;
        color: #fff;
        font-size: 12px;
    }
}