.form-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
}
  .form-wrapper {
    background: white;
    padding: 40px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    width: 100%;
    padding: 16px 20px;
    background-color: #3ba1da;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    max-width: 225px;
    margin-top: 15px;
  
  }
  
  .form-button:hover {
    background-color: #2980b9;
  }

  .button-container {
    display: flex;
    gap: 12px;
  }

  .form-button-data-found{
    width: 100%;
    padding: 16px 20px;
    background-color: #3ba1da;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    max-width: 225px;
    margin-top: 15px;
  }

  /* .form-button-data-found:hover {
    background-color: #2980b9;
  } */

  