footer {
  /* background-color: #00246891; */
  background-color:rgb(189, 99, 54);

  color: white;
}
.footer-bottom-inner{
  max-width: 1260px;
  margin: 0 auto;
}
.footer-content {
  display: flex;
  max-width: 1260px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 30px;
  gap: 24px;
}
.footer-partition {
  flex: 0 0 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.footer-bottom p {
  margin: 5px 0;
}
.footer-partition p, .footer-partition h3 {
  margin: 16px 0;
  color: #fff;
}
.footer-partition p{
  font-size: 14px;
  line-height: 2;
}
.footer-partition h3 {
  font-size: 24px;
}
.footer-bottom{
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
  align-items: center;
  color: rgba(166, 176, 179, 1);
  background-color: #292e38;
}
.footer-bottom-inner {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-bottom-inner div {
  padding: 20px 0px;
}
/* ----------------------------------------------------------------------------------/* styles.css */

.fusion-social-network-icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
}

.social-title {
  position: absolute;
  bottom: -20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Light white background color */
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.social-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0); /* Transparent initially */
  transition: background-color 0.3s ease;
}

.fusion-social-network-icon:hover .social-title {
  opacity: 1;
}

.fusion-social-network-icon:hover .social-circle {
  background-color: rgba(255, 255, 255, 0.5); /* Light white background color on hover */
}

.footer-social{
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .footer-content {
      flex-direction: column;
  }
  .footer-bottom{
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-bottom-inner {
    flex-direction: column;
  }
  .footer-bottom{
    height: auto;
  }
  .footer-social{
    display: flex;
    justify-content: center;
  }
}